*{
     margin: 0px;
     padding: 0px;
     font-family: 'Titillium Web', sans-serif;
}

html {
   scroll-behavior: smooth;
 }
 header{
     background-image: url('../img/naslovna.jpg');
     height: 44vw;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    
 }
 li{
  margin: auto;
 }
 a{
   text-decoration: none;
 }
 a:link {
  text-decoration: none;
}
 #h{
  padding-top: 20vw;
 }
 site-navbar {
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    }
    .navbar-up {
    top: -120px;
    }
    .navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    line-height: 1.4em;
    }
    ul {
    display: flex;
    justify-content: space-around;
    width: 90%;
    list-style: none;
    padding: 2vw;
    }
    
   ul li a {
    margin-left: 15px;
    margin-right: 15px;
    color:rgb(233, 174, 14);
    font-size: 2vw;
    }

    #more {display: none;}

    #myBtnn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: red;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
    }
    #myBtnn:hover {
      background-color: #555;
    }
#vraper div{
    max-height: 30vw;
}
.text-responsive,i,p{
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
#naslov{
  font-family: 'Abril Fatface', cursive;
  font-size: 4.5vw;
  color:red;
  text-shadow: 2px 2px 5px red;
}
h3{
  font-family: 'Abril Fatface', cursive;
  font-size: 5vw;
}
#opis{
  color:red;
}
#slajder{
  overflow: hidden;
  
}
#slajder img{

  display: none;
}
#slajder .aktivna{
  display:block;
  height: 50wv;
  width: 0wv;
}
 #okvir{
  background-color:rgb(154,200,32);
 }
#nasaO{
  color: white;
  font-size: 8vh;
  padding-bottom: 0px;
}
#nasTim{
  margin: 0 auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}
.card img{
  height:40vh;
  width: auto;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.container .content {
  display: none;
  padding : 5px;
}


.kontaktirajteNas {
  background: rgb(154,200,32);
  margin-bottom: 10%;;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  box-pack: center;
  justify-content: center;
  box-align: center;
  align-items: center;

 }
.kontaktirajteNas h3 {
  color: ;
  font-size: 2.5em;
  text-align: center;
 }
 body .kontaktirajteNas form {
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  box-pack: center;
  justify-content: center;
  box-align: center;
  align-items: center;
  margin-top: 4%;
  border: none;
 }
 body .kontaktirajteNas form p {
  font-size: 1.13em;
  font-weight: bold;
  visibility: hidden;
  text-align: center;
 }
 
 body .kontaktirajteNas form .popuniSirinu {
  width: 70%;
  padding: 1%;
  border: 3px solid white;
  background-color: transparent;
  color: white;
 }
 body .kontaktirajteNas form .popuniSirinu::input-placeholder {
  color: white;
 }
 body .kontaktirajteNas form .popuniSirinu:input-placeholder {

  color: white;
 }
 body .kontaktirajteNas form .popuniSirinu::-ms-input-placeholder {
  color: white;
 }
 body .kontaktirajteNas form .popuniSirinu::placeholder {
  color: white;
 }

 body .kontaktirajteNas form #posaljiPodatke {
  width: 25%;
  padding: 1.3% 0%;
  border: none;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  -webkit-transition: 0.7s;

  transition: 0.7s;
 }
 body .kontaktirajteNas form #posaljiPodatke:hover {
  background: black;
  color: white;
 }
 .belo{
   width: 30%;
   padding:2vw;
   margin: 0px auto;
   background-color: white;
   border-radius: 0px 0px 40px 40px;
 }

.zeleno{
  background-color: rgb(154,200,32);
    width: 30%;
   padding:2vw;
   margin: 0px auto;
   font-size: 5em;
   border-radius: 0px 0px 40px 40px ;
}
.zeleno h3{
  font-size: 3vw;
  margin: 0px auto;
}