*{
     margin: 0px;
     padding: 0px;
     font-family: 'Titillium Web', sans-serif;
}
html {
   scroll-behavior: smooth;
 }
 body { overflow-x: hidden; }
 .ops{
  opacity: 0.9;
 }
#vraper div, #vraper1 div,.accordion .head,#dugmeZ{
background-color:rgb(154,200,32);
}
#naslov,#opis{
 color:rgb(243, 104, 143);
}

.accordion .content,#profili a i {
  color: #333;
}
#logo,.accordion .content, body .kontaktirajteNas form #posaljiPodatke,#lista{
  background-color: white;
}
#dugmeZ,#zakazite,#myBtnn{
  color:white;
}
.navigationBar,ul,.kontaktirajteNas,body .kontaktirajteNas form,#profili,#lista{
  display: flex;
}
.navigationBar,.kontaktirajteNas, body .kontaktirajteNas form {
  align-items: center;
}
ul,#divAutor,#profili,#lista, .gl,.aktivna,#akcijskaKartica{
  margin: 0px auto;
}
#ZV,#hP,body .kontaktirajteNas form p, body .kontaktirajteNas form #posaljiPodatke,.desno span,#zakazite p,#dugmeZ,.linkDugme{
  font-weight: bold;
}
#more,#myBtnn,#slajder img,.container .content,.accordion .content,#Burger {
  display: none;
}
#imeO,#slajder .aktivna,.pPacijenta,#zakazite{
  height: auto;
}
footer div,body .kontaktirajteNas form p {
  text-align: center;
}
#profili a i,#ZV{
  font-size: 7vw;
}
nav ul li a,.accordion .head h2{
  font-size: 2vw;
}
#hP,#naslov,.accordion .arrow{
  font-size: 3vw;
} #oNama h2{
  font-size: 3.5vw !important;
}
#oNama h2,#naslov, h3,#ZV{
  font-family:'Abril Fatface', cursive ;
}
li{
  margin: auto;
}
a{
  text-decoration: none;
}
a:hover {
 text-decoration: none !important;
 font-weight: bold; 
}
nav ul li a,#navigacijaDole div a,#korisniLinkovi div a{
   color:black;
 }
nav ul li a:hover{
  color:rgb(154,200,32);
}
.gl:hover{
  color:rgb(154,200,32);
}
nav{
  box-shadow: 1vw 1vw 1vw rgb(0, 0, 0);
}
site-navbar {
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
}
.navbar-up {
  top: -120px;
}
.navigationBar {
  justify-content: space-between;
  min-height: 8vh;
  line-height: 1.4em;
}
ul {
  justify-content: space-around;
  width: 90%;
  list-style: none;
  padding: 2vw;
}   
nav ul li a {
  margin-left: 15px;
  margin-right: 15px;
}
#navigacijaMeni{
  width: 100%; 
}
#myBtnn {
  position: fixed;
  bottom: 0.5vw;
  right: 0.5vw;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(243, 104, 143);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
#myBtnn:hover {
  background-color: #555;
}
#vraper div, #vraper1 div{
    max-height: 35vw;
}
.text-responsive,i,p{
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

header{
  height: 50vw;
 }
#imeO{
  padding: 17vw 10vw;
  padding-bottom: 5vw;
  position:absolute;
  top:0;
}
#ZV{
  letter-spacing: 1.5vw;
}
#hD{
  padding-left: 10vw;
  position: absolute;
  top: 40vw;
}
#naslov{
  text-shadow: 2px 2px 5px rgb(37, 156, 37);
}
#slajder{
  overflow: hidden;
}
#slajder .aktivna{
  display:block;
  width: 100vw;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
.container .content {
  padding : 5px;
}
.kontaktirajteNas {
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  box-pack: center;
  justify-content: center;
  box-align: center;
 }
 h3{
  margin: 5vw !important;
  font-size:4vw!important;
 }
 body .kontaktirajteNas form {
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  box-pack: center;
  justify-content: center;
  box-align: center;
  margin-top: 4%;
  border: none;
 }
 body .kontaktirajteNas form p {
  font-size: 1.13em;
  visibility: hidden;
 }
 body .kontaktirajteNas form .popuniSirinu {
  width: 100%;
  padding: 1%;
  border: 3px solid white;
  background-color: transparent;
  color: white;
 }
 body .kontaktirajteNas form .popuniSirinu::input-placeholder {
  color: white;
 }
 body .kontaktirajteNas form .popuniSirinu:input-placeholder {

  color: white;
 }
 body .kontaktirajteNas form .popuniSirinu::-ms-input-placeholder {
  color: white;
 }
 body .kontaktirajteNas form .popuniSirinu::placeholder {
  color: white;
 }
 body .kontaktirajteNas form #posaljiPodatke {
  width: 25%;
  padding: 1.3% 0%;
  border: none;
  color: black;
  font-size: 1.2em;
  -webkit-transition: 0.7s;
  transition: 0.7s;
 }
 body .kontaktirajteNas form #posaljiPodatke:hover {
  background: black;
  color: white;
 }
.accordion{
  position: relative;
  box-shadow: 0px 1px 7px #111111;
}
.accordion .head{
  padding: 1vw 1vw;
  cursor: pointer;
  transition: 0.2s ease;
  padding-right: 4.5vw;
}
.accordion  .arrow {
  position: absolute;
  right: 2vw;
  top: 1vw;
  transition: 0.25s ease;
  opacity: 0.3;
}
.accordion .head:hover .arrow{
  opacity: 1;
}
.accordion .head:hover, .accordion .active{
  background-color: #47641a;
  color:white;
}
.accordion .arrow-animate{
  transform: rotate(+90deg);
  opacity: 1;
}
.accordion .content {
  padding: 2vw 2vw;
}
 table{
   width: 90%;
 }
tbody{
  border: 0.1vw solid rgba(223, 223, 223, 0.863);
}
td{
  font-size: 1.4rem;
  padding: 1vw;
}
tr {
  margin:5px;
}
.desno{
  float:right;
}
.desno span{
  background-color: chartreuse;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 0.1vw;
  margin-top: 0.2vw;
}
#komentari{
  margin: 5vw auto;
}
.poz{
  background-image: url(../img/bg2\ -\ Copy.jpg);
  background-attachment: fixed;
}
th{
  font-size: 4rem;
}
tbody tr{
  background-color: white;
}

.pPacijenta{
  width: 15vw;
  margin:0px auto !important;
}
.kPacijenta{
  float:right;
  background-color: bisque;
}
hr{
  text-shadow: 2px 2px black;
}
#divAutor{
  min-height:400px;
  width: 70vw;
  margin-bottom: 5vw;
}
#profili{
  flex-direction: row;
  justify-content: space-around;
}
#profili a i{
  margin-right: 2vw;
}
.boja{
  background-color:rgba(239, 239, 239, 0.863);
}
.zebra{
  background-color: rgba(230, 230, 230, 0.863);
}
#zakazite{
  margin:  auto;
  background-image:url('../img/dete.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding: 4vw;
}

#dugmeZ{
  padding: 1vw;
  font-size: 3vw;
}
#kvss{
  font-size: 2.5vw;
}
#futer{
  max-height: 40vh;
}
header{
  position:relative;
  padding: 0% !important;
}
#slajder img{
  width: 100%;
  height: 100%;
}
#logo{
  margin-right: 5vw;
}
#lista{
  flex-direction: column;
  width:30vw;
  margin-bottom: 3vw;
  margin-top: 4vw;
  border-radius: 0px 0px 30px 0px;
}
.gl,.fa-bars{
  color:rgb(154,200,32);
}
.fa-bars{
  font-size: 8vw !important;
  margin-top: 2vw;
  padding-left: 5vw;
}
.gl{
  width: 5vw;
  font-size: 6vw;
}
@media screen and (max-width: 700px){
  h3,#oNama h2{
    font-size: 8vw !important;
  }
  #h{
    padding-top: 30vw;
  }
  #kvss{
    font-size: 4vw;
  }
  #navigacijaMeni{
    display: none !important;
  }
  #navigacija{
    position: relative;
    height: 13vw;
  }
  #logo{
    position: absolute;
    right:4vw;
    z-index: 1;
    width: 15vw;  
  }
  #Burger {
    display: block !important;
    position:absolute;
    z-index: 1;
  }
  #burger ul li {
      float: right;
      margin-left:5px;
      position: relative;
      z-index: 1;
   }
 #nasTim{
   margin:0px auto;
 }
 .pPacijenta{
   width: 20vw;
 }
 #korisniLinkovi,#navigacijaDole{
   margin-top: 0 !important;
   font-size: 5vw !important;
 }
 .greska,#futer span,.accordion .head h2{
   font-size: 4.2vw !important;
 }
}
#akcijskaKartica{
  width: 80%;
  border-radius: 0.25rem;
  padding: 1vw;
  box-shadow: 0px 20px 50px 15px grey;
}
#galerija {
padding: 5vw;
 background-color: #333;
}
.slajd,.hiden {
  display: none;
}
.headPhoto{
  position: relative;
}
.cursor {
  cursor: pointer;
}
.cnt{
  border:3px solid white;
}
.prethodna,
.sledeca {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 2vw;
  color:rgb(154,200,32);
  font-size: 3vw !important;
  background-color: rgba(223, 223, 223, 0.637);
}
.prethodna{
left:0;
}
.sledeca {
  right: 0vw;
}
.prethodna i{border-radius: 1px solid;}
.prethodna:hover,
.sledeca:hover {
  color:#000;
}
#galerija .row {
background-color:#333;
}
#galerija .row:after {
  display: table;
  clear: both;
  padding: 0vw 10vw;
}
.demo {
  opacity: 0.7;
}
.active,
.demo:hover {
  opacity: 1;
}
.bcg{
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
}
.greska{
  white-space: nowrap ;
}
#korisniLinkovi,#navigacijaDole{
  font-size: 2.5vw;
  margin-bottom: 10%;
  margin-top: 15%;
  padding-left: 5%;
}
#futer{
  background-image: url('../img/bg2\ -\ Copy.jpg');
}
#futer span{
  font-size: 1.5vw;
}
.linkDugme{
  padding: 1vw;
  background-color: rgb(154,200,32);
}
#opisAutora{
  margin: 5vw;
}